@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #502380;
  --secondary: #750000;
  --dark: #14123b;
  --accent: #F9E076;
  --pink: #FC94AF;
  --gray: #363636;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
